service cloud.firestore {
  match /databases/{database}/documents {
    match /shops/{shopId} {
      allow read, write: if true;

      match /products/{productId} {
        allow read, write: if true;
      }
    }
  }
}
